# Byte-compiled / optimized / DLL files
**/__pycache__/

# Jupyter Notebook
**/.ipynb_checkpoints

# vscode
.vscode
**/*.code-workspace

.Rproj.user
inst/doc
/doc/
/Meta/

# data files
data/
!data/datafile.md

model/
results/