absl_py==1.4.0+computecanada
anndata==0.8.0+computecanada
anyio==3.5.0+computecanada
argon2_cffi==21.3.0+computecanada
argon2_cffi_bindings==21.2.0+computecanada
asttokens==2.0.8+computecanada
astunparse==1.6.3+computecanada
attrs==22.2.0+computecanada
Babel==2.10.3+computecanada
backcall==0.2.0+computecanada
beautifulsoup4==4.11.1+computecanada
bleach==5.0.1+computecanada
cachetools==5.3.0+computecanada
./
certifi==2022.12.7+computecanada
cffi==1.15.0+computecanada
charset_normalizer==3.0.1+computecanada
cycler==0.11.0+computecanada
debugpy==1.6.3+computecanada
decorator==5.1.1+computecanada
defusedxml==0.7.1+computecanada
entrypoints==0.4+computecanada
executing==0.9.1+computecanada
fastjsonschema==2.16.1+computecanada
flatbuffers==1.12+computecanada
fonttools==4.38.0+computecanada
gast==0.4.0+computecanada
google-pasta==0.2.0+computecanada
google_auth==2.16.0+computecanada
google_auth_oauthlib==0.4.6+computecanada
grpcio==1.47.0+computecanada
h5py==3.7.0+computecanada
./wheels/harmonypy-0.0.9-py3-none-any.whl
idna==3.4+computecanada
./wheels/imbalanced_learn-0.10.1-py3-none-any.whl
importlib_metadata==5.2.0+computecanada
importlib_resources==5.10.1+computecanada
iniconfig==1.1.1+computecanada
ipykernel==6.15.1+computecanada
ipython==8.5.0+computecanada
ipython_genutils==0.2.0+computecanada
ipywidgets==7.7.1+computecanada
jedi==0.18.1+computecanada
Jinja2==3.1.2+computecanada
joblib==1.2.0+computecanada
json5==0.9.10+computecanada
jsonschema==4.9.1+computecanada
jupyter==1.0.0+computecanada
jupyter-console==6.4.0+computecanada
jupyter_client==7.3.4+computecanada
jupyter_core==4.11.1+computecanada
jupyter_server==1.16.0+computecanada
jupyterlab==3.3.3+computecanada
jupyterlab_pygments==0.2.2+computecanada
jupyterlab_server==2.12.0+computecanada
jupyterlab_widgets==1.1.1+computecanada
keras==2.9.0+computecanada
Keras-Preprocessing==1.1.2+computecanada
kiwisolver==1.4.4+computecanada
libclang==14.0.1+computecanada
llvmlite==0.39.1+computecanada
lxml==4.9.1+computecanada
Markdown==3.4.1+computecanada
MarkupSafe==2.1.1+computecanada
matplotlib==3.5.3+computecanada
./wheels/matplotlib-venn-0.11.7.tar.gz
matplotlib_inline==0.1.3+computecanada
mistune==0.8.4+computecanada
natsort==8.2.0+computecanada
nbclassic==0.3.7+computecanada
nbclient==0.6.6+computecanada
nbconvert==6.5.3+computecanada
nbformat==5.4.0+computecanada
nest_asyncio==1.5.5+computecanada
networkx==3.0+computecanada
notebook==6.4.12+computecanada
notebook_shim==0.1.0+computecanada
numba==0.56.3+computecanada
numexpr==2.8.3+computecanada
numpy==1.21.0+computecanada
oauthlib==3.2.2+computecanada
opt-einsum==3.3.0+computecanada
packaging==23.0+computecanada
pandas==1.4.1+computecanada
pandocfilters==1.5.0+computecanada
parso==0.8.3+computecanada
patsy==0.5.2+computecanada
pexpect==4.8.0+computecanada
pickleshare==0.7.5+computecanada
Pillow==9.3.0+computecanada
pkgutil_resolve_name==1.3.10+computecanada
pluggy==1.0.0+computecanada
ply==3.11+computecanada
prometheus_client==0.14.1+computecanada
prompt_toolkit==3.0.31+computecanada
protobuf==3.19.4+computecanada
psutil==5.9.4+computecanada
ptyprocess==0.7.0+computecanada
pure_eval==0.2.2+computecanada
py==1.11.0+computecanada
pyasn1==0.4.8+computecanada
pyasn1-modules==0.2.8+computecanada
pycparser==2.21+computecanada
Pygments==2.14.0+computecanada
pynndescent==0.5.2+computecanada
pyparsing==3.0.9+computecanada
pyrsistent==0.18.1+computecanada
pytest==7.1.3+computecanada
python-dateutil==2.8.2+computecanada
python-igraph==0.9.6+computecanada
pytz==2022.7.1+computecanada
pyzmq==23.1.0+computecanada
qtconsole==5.3.2+computecanada
QtPy==2.2.0+computecanada
requests==2.28.2+computecanada
requests_oauthlib==1.3.1+computecanada
rsa==4.9+computecanada
scanpy==1.8.2+computecanada
scikit_learn==1.1.2+computecanada
scipy==1.9.3+computecanada
seaborn==0.12.1+computecanada
Send2Trash==1.8.0+computecanada
sinfo==0.3.1+computecanada
six==1.16.0+computecanada
sniffio==1.2.0+computecanada
soupsieve==2.3.2.post1+computecanada
stack_data==0.5.0+computecanada
statsmodels==0.13.2+computecanada
stdlib-list==0.7.0+computecanada
tables==3.7.0+computecanada
tensorboard==2.9.1+computecanada
tensorboard-data-server==0.6.1+computecanada
tensorboard_plugin_wit==1.8.1+computecanada
tensorflow==2.9.0+computecanada
tensorflow_estimator==2.9.0+computecanada
tensorflow_io_gcs_filesystem==0.26.0+computecanada
termcolor==1.1.0+computecanada
terminado==0.15.0+computecanada
texttable==1.6.4+computecanada
threadpoolctl==3.1.0+computecanada
tinycss2==1.1.1+computecanada
tomli==2.0.1+computecanada
tornado==6.2+computecanada
tqdm==4.64.1+computecanada
traitlets==5.4.0+computecanada
typing_extensions==4.4.0+computecanada
umap-learn==0.5.1+computecanada
urllib3==1.26.14+computecanada
wcwidth==0.2.5+computecanada
webencodings==0.5.1+computecanada
websocket_client==1.4.2+computecanada
Werkzeug==2.2.2+computecanada
widgetsnbextension==3.6.1+computecanada
wrapt==1.13.3+computecanada
zipp==3.11.0+computecanada
